*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
    width:414px;
    height: 736px;
    margin: 0 auto;
    min-width: 414px;
    min-height: 860px;
}

/* 外层 */
.Contentapp-out{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* 头部 */
.head-content{
    background: -webkit-linear-gradient(left, #4a91fd, #14b9f7) !important;
    width: 414px;
    margin: 0 auto;
}
.header-img{
    width: 10% ;
    margin-left: 2%;
}
.header-message{
    display: inline-block;
    width: 70%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
.header-img-sum{
    height: 72%;
    width: 6%;
    margin-top: 5px;
}
/* 内容 */
/* 消息 */
.content-all{
    margin-top: 44px;
    width: 100%;
    height: 700px;
    overflow-y:scroll ;
}
.content-in{
    min-height: 65px;
    padding-top:0; 
    padding-left: 80px !important;
}
.content-in-img{
    top: 5px !important;
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
}
.content-in-h2{
    font-size: 14px !important;
    font-weight: bold !important;
    margin-top: 7px !important;
}
.content-in-p{
    font-size: 12px !important;
}
/* 内容4 */
.content-all-four-out{
    background: #f9f9fb;
}
.content-all-four{
    width:100%;
    background: #fff;
    margin-bottom: 20px;
}
.content-all-four a{
    display: inline-block;
    height: 10%;
    width: 26.3%;
    margin-left: 18px;
}
.content-all-four img{
    display: inline-block;
    width: 40px;
    margin: 10px 0 0 20px;
}
.content-all-four span{
    display: block;
}
/* 内容4列表 */
.content-all-four-ul {
    width: 100%;
    height: 715px;
    overflow-y: scroll;
}
.content-all-four-ul li{
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    line-height: 48px;
}
.content-all-four-ul li a{
    display: inline-block;
    margin-left: 35px;
}
.content-all-four-ul li a img{
    vertical-align: middle;
}
.content-all-four-ul li a span{
    font-size: 16px;
    color: black;
}
/* 底部 */
 .content-foot{
    height: 65px !important;
    width: 414px;
    margin: 0 auto;
}
.foot-icon-i{
    display: inline-block;
    width: 25%;
    font-size: 39px;
    margin-left: 20px;
    text-decoration: none;
    color: #aaacad;
}
.foot-icon-text{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    width: 76px;
    height: 30px;
    color: #aaacad;
}
/* 点击样式 */
.addClass{
    color:red;
}
/* 联系人  */
.content-popel{
    margin-top: 44px;
    color: pink;
}
 
/* 弹框 */

.header-pop{
    width: 40%;
    background-color: #f6f6f6;
    position: fixed;
    right: 5px;
    top:10%;
    border-radius: 10px;
    /* display: none; */
}
.header-img-up{
    display: block;
    margin-top: -21px;
    float: right;
    margin-right: 5px;
}
.header-up-ul{
    color: black;
}
.header-up-li{
    padding: 5px 10px;
}




.header-pop-out {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

/* 内容3 */
.content-all-three-out{
    margin-top: 10px;
    margin-bottom: 15px;
}
.content-all-three-img-out{
    width: 100%;
    height: 70px;
}
.content-all-three{
    display: block;
    width: 27%;
    height: 74px;
    margin-left: 10px;
    float: left;
}
.content-all-three-h5{
    width: 90%;
    padding: 10px;
    text-indent: 26px;
}
/* 内容2 */
.content-all-two{
    background-color: #f2efef;
}
.content-all-two-ul{
    margin-bottom: 20px;
}
.content-all-two-li{
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e1dddd;
    color: black;
}
.content-all-two-li-i{
    display: inline-block;
    float: right;
    margin-right: 60px;
    font-size: 20px;
    color: gainsboro;
}

/* 内容2 下部分内容 */
.content-all-two-under-out{
    margin-top: 20px;
}
.content-all-two-under-in .content-all-two-under-in-header{
    height: 40px;
    line-height: 40px;
    width: 18.2%;
    text-align: center;
    float: left;
    background-color: #fff;
    color:#7c7a7a;
    border-bottom: 2px solid red;
}
